body {
  background-color: #000000;
  color: #ffffff;
}
.head {
  color: #3d3d3d;
  text-align: center;
}

#fgcan {
  margin-top: 10px;
  border: 1px dashed rgb(0, 183, 255);
  width: 350px;
  height: 600px;
}

#bgcan {
  margin-top: -602px;
  border: 1px dashed rgb(0, 183, 255);
  width: 350px;
  height: 600px;
  opacity: 20%;
}


#outputcan {
  margin-top: 10px;
  border: 1px dashed rgb(0, 183, 255);
  width: 350px;
  height: 600px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin-top: -680px;
  font-size: 20px;
  z-index: 0;
}

input {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

#loading {
  position: relative;
  margin-top: -1220px;
  font-size: 11px;
  color: #ffffff;
  opacity: 100;
}
