body {
  background-color: #000000;
  color: #ffffff;
}
.head {
  color: #3d3d3d;
  text-align: center;
}
canvas {
  margin-top: 10px;
  border: 1px dashed rgb(0, 183, 255);
  width: 350px;
  height: 600px;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 183, 255);
  margin-top: 20px;
  font-size: 20px;
}

input {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}

progress::-webkit-progress-bar{
  width: 250px;
  height: 15px;
  border-radius: 10px;
}
progress::-webkit-progress-value {
  width: 250px;
  height: 15px;
  border-radius: 10px;
}

